In [2]:
import pandas as pd

### Read data from file

In [3]:
df = pd.read_csv('adult.data.csv')

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Number of races

In [5]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

### Average number of Men

In [8]:
df.loc[df['sex'] == 'Male', 'age'].mean().round(1)

39.4

### Bachelors `Degree` percentage

In [9]:
bachelor = len(df[df['education'] == 'Bachelors'])
total = df.shape[0]

In [27]:
print(f'{round(bachelor / total * 100, 1)}%')

16.4%

### People with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

People with advance education

In [11]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

People with advance education earn more than 50K

In [13]:
high_rich = len(higher_education[higher_education['salary'] == '>50K'])

Percentage make more than 50K

In [25]:
print(f'{round(high_rich / len(higher_education) * 100, 1)}%')

46.5 %

### People without advanced education make more than 50K?

People without advance education

In [16]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

People without advance education earn more than 50K

In [19]:
low_rich = len(lower_education[lower_education['salary'] == '>50K'])

Percentage make more than 50K

In [28]:
print(f'{round(low_rich / len(lower_education) * 100, 1)}%')

17.4%

### Minimum number of hours a person works per week

In [21]:
df['hours-per-week'].min()

1

### People who work the minimum number of `hours per week` have a salary of >50K?

people who work the minimum number of hours per week

In [31]:
num_min_workers = df[df['hours-per-week'] == (df['hours-per-week'].min())]

People who work the minimum number of hours per week make more than 50K

In [32]:
min_rich = len(num_min_workers[num_min_workers['salary'] == '>50K'])

Percentage make more than 50K

In [33]:
print(f'{round(min_rich / len(num_min_workers) * 100, 1)}%')

10.0%

### Country which has the highest percentage of people that earn >50K?

Number of people in a country

In [34]:
country = df['native-country'].value_counts()

Number of people in country earning more than 50K

In [35]:
rich = df.loc[df['salary'] == '>50K', 'native-country'].value_counts()

Highest earning Country

In [36]:
round(rich / country * 100).idxmax()

'Iran'

Hightest earning Country percentage

In [37]:
print(f'{round(rich / country * 100, 1).max()}%')

41.9%

### Most popular occupation for those who earn >50K in `India`.

People in Indian

In [38]:
Indian = df[df['native-country'] == 'India']

Indian earning more than 50K

In [47]:
occupation = Indian.loc[Indian['salary'] == '>50K', 'occupation']

Most popular occupation in India earning more than 50K

In [50]:
occupation.value_counts().idxmax()

'Prof-specialty'